@tailwind base;
@tailwind components;
@tailwind utilities;

.sg-container {
  box-sizing: border-box;
  margin-top: 12px;
  font-size: 14px;
  min-width: 800px;

  --button-active-bg-color: #d3e2fd;
  --button-hover-bg-color: #eeeeee;
  --button-color: #000;
  --button-border-radius: 16px;
  --button-height: 32px;
}

.sg-filter-item {
  align-items: center;
  justify-content: center;
}

.sg-filter-item a,
.sg-filter-item button {
  padding: 0px 10px;
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  display: flex;
  background: none;
  border: none;
  font-weight: 600;
  color: var(--button-color);
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.sg-filter-item a:hover,
.sg-filter-item button:hover {
  background-color: var(--button-hover-bg-color);
}

.sg-filter-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sg-filter-form {
  position: fixed;
  top: 20%;
  left: 50%;
  min-width: 600px;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 0%);
  max-height: 80%;
  background-color: #fff;
  border-radius: 16px;
}
